@use '../../styles/global.scss';


    .button-submit-heroe {
        margin-bottom: 2rem;
    }

    .box-heroes {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto; 
        padding: 1.5rem; 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        .card-heroes {
            height: 180px;
            width: 100%;
            max-width: 176px;
            border: 1px solid #d0dce7;
            color: #fff;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            justify-self: center;
            justify-content: center;
            cursor: pointer;
            transition: border 0.3s;

            &:hover {
                border: 2px solid global.$red-500;
              }
        }
    }

