@use '../../styles/global.scss';

.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1.5rem;

    align-items: center;
    justify-content: center;


    .home {
        background-color: global.$red-500;

        &:not(:disabled):hover {
            background-color: global.$red-700;
            transition: background-color 0.5s;
        }

        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }

    :last-child {
        margin-top: 0;
    }
}